.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
  background: #fff;
  /* padding-bottom: 10px; */
  width: 500px;
  border: thin solid black;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #13a297;
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 450px;
  height: 50px;
  background: #eaeaea;
  border-radius: 6px;
}

.input img {
  margin: 0px 30px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password {
  padding-left: 35px;
  margin-top: 27px;
  color: #797979;
  font-size: 18px;
}

.forgot-password span {
  color: #13a297;
  cursor: pointer;
}

.submit-container {
  display: flex;
  gap: 30px;
  margin: 30px auto;
}

.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  color: #fff;
  background: #13a297;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

/* .submit:hover{
   background-color: #fff;
   border-width: thin;
   border-style: solid;
   border-color: #3c009d;
   color:#3c009d ;
} */

.gray {
  background: #eaeaea;
  color: #797979;
}

.Name {
  height: 0;
  width: 0;
}

.RollNo {
  height: 0;
  width: 0;
}
